.faq {
	@apply mt-4;
	@apply container;
	@apply mx-auto;
}

.headerText {
	@apply font-NeueHGD;
	@apply text-4xl;
	@apply font-medium;
	@apply p-4;
	@apply pl-2;
	@apply my-4;
	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2;
		@apply border-gray-600;
	}
	&:before {
		width: 4rem;
		margin-bottom: 0;
	}
	&:after {
		width: 75%;
		margin-top: 1px;
	}
}

.question {
	@apply text-2xl;
	@apply font-medium;
	@apply mb-2;
}

.answer {
	@apply pl-3;
	@apply text-lg;
	@apply mb-3;
}

.link {
	@apply text-blue-400;
	&:hover {
		@apply text-blue-500;
		@apply underline;
	}
}
