.faq {
	@apply mt-4
		container
		mx-auto;
}

.headerText {
	@apply font-NeueHGD
		text-4xl
		font-medium
		p-4
		pl-2
		my-4;

	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2
			border-gray-600;
	}
	&:before {
		margin-bottom: 0;
		width: 4rem;
	}
	&:after {
		margin-top: 1px;
		width: 75%;
	}
}

.question {
	@apply text-2xl
		font-medium
		mb-2;
}

.answer {
	@apply pl-3
		text-lg
		mb-3;
}

.link {
	@apply text-blue-400;
	&:hover {
		@apply text-blue-500
			underline;
	}
}
