.faq {
	@apply container mx-auto mt-4;
	scroll-margin: 100px;
	scroll-margin-top: 100px;
}

.headerText {
	@apply my-4
		p-4
		pl-2
		font-NeueHGD
		text-4xl
		font-medium;

	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2
			border-gray-600;
	}
	&:before {
		margin-bottom: 0;
		width: 4rem;
	}
	&:after {
		margin-top: 1px;
		width: 75%;
	}
}

.question {
	@apply mb-2
		text-2xl
		font-medium;
}

.answer {
	@apply mb-3
		pl-3
		text-lg;
}

.link {
	@apply text-blue-400;
	&:hover {
		@apply text-blue-500
			underline;
	}
}
