@reference "../../styles/core.css";

.seasonCounter {
	width: fit-content;
}

.seasonCounter:before {
	content: "";
	display: block;
	margin-bottom: -1px;
	width: 4rem;
	@apply border-t-2 border-gray-600;
}

.image {
	@apply h-12 w-12;
}

.image > div {
	@apply h-12 w-12;
}

@screen xl {
	.image {
		@apply h-16 w-16;
	}
	.image > div {
		@apply h-16 w-16;
	}
}

.glow {
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
}

.grid {
	grid-template-columns: auto 1fr;
}

.left {
	left: 18%;
}

.light:before {
	@apply pr-1 align-bottom text-2xl;
	content: "\2727";
}

.min {
}
