@reference "../../styles/core.css";

.seasonTimer {
	width: fit-content;
}

@keyframes countdown {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

.seasonTimer:after {
	content: "";
	display: block;
	margin-top: 0;
	animation-name: countdown;
	animation-duration: 7s;
	animation-timing-function: ease-out;
	will-change: width;
	@apply border-t-2 border-gray-600;
}
