.seasonCounter {
	width: fit-content;

	&:before {
		content: "";
		display: block;
		margin-bottom: -1px;
		width: 4rem;
		@apply border-t-2 border-gray-600;
	}
}

.seasonTimer {
	width: fit-content;

	&:after {
		content: "";
		display: block;
		margin-top: 0;
		width: var(--after-w);
		@apply border-t-2 border-gray-600;
	}
}

.image {
	@apply h-12 w-12;
	@screen xl {
		@apply h-16 w-16;
	}
	& > div {
		@apply h-12 w-12;
		@screen xl {
			@apply h-16 w-16;
		}
	}
}

.glow {
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
}

.grid {
	grid-template-columns: auto 1fr;
}

.left {
	left: 18%;
}

.light:before {
	@apply pr-1 align-bottom text-2xl;
	content: "\2727";
}
