@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Fonts */

@font-face {
	font-display: swap;
	font-family: "NeueHaasGroteskDisp";
	font-style: normal;
	font-weight: 500;
	src:
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.ttf")
			format("truetype"),
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
		url("../../public/assets/fonts/NHaasGroteskDSPro-55Rg.woff2")
			format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "NeueHaasGroteskText";
	font-style: normal;
	font-weight: normal;
	src:
		url("../../public/assets/fonts/NHaasGroteskTXPro-55Rg.woff2")
			format("woff2"),
		url("../../public/assets/fonts/NHaasGroteskTXPro-55Rg.woff") format("woff");
}

/* Themes */

@theme {
	--font-display:
		"NeueHaasGroteskDisp", "ui-sans-serif", "system-ui", "-apple-system",
		'"Segoe UI"', "Roboto";
	--font-text:
		"NeueHaasGroteskText", "ui-sans-serif", "system-ui", "-apple-system",
		'"Segoe UI"', "Roboto";

	--color-banner: oklch(25.775% 0.06883 275.829);
	--color-banner-dark: oklch(20.295% 0.04561 277.767);
	--color-button: oklch(82.734% 0.16932 80.177);
	--color-title: oklch(55.255% 0.20735 321.33);
	--color-gild: oklch(91.338% 0.05791 76.272);

	--default-transition-timing-function: var(--ease-out);
}

/* Globals */

:root {
	color-scheme: dark light;

	--headerHeight: 65px;

	--radius: 0.625rem;

	--background: oklch(1 0 0);

	--foreground: oklch(0.13 0.028 261.692);

	--card: oklch(1 0 0);

	--card-foreground: oklch(0.13 0.028 261.692);

	--popover: oklch(1 0 0);

	--popover-foreground: oklch(0.13 0.028 261.692);

	--primary: oklch(0.21 0.034 264.665);

	--primary-foreground: oklch(0.985 0.002 247.839);

	--secondary: oklch(0.967 0.003 264.542);

	--secondary-foreground: oklch(0.21 0.034 264.665);

	--muted: oklch(0.967 0.003 264.542);

	--muted-foreground: oklch(0.551 0.027 264.364);

	--accent: oklch(0.967 0.003 264.542);

	--accent-foreground: oklch(0.21 0.034 264.665);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(0.928 0.006 264.531);

	--input: oklch(0.928 0.006 264.531);

	--ring: oklch(0.707 0.022 261.325);

	--chart-1: oklch(0.646 0.222 41.116);

	--chart-2: oklch(0.6 0.118 184.704);

	--chart-3: oklch(0.398 0.07 227.392);

	--chart-4: oklch(0.828 0.189 84.429);

	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0.002 247.839);

	--sidebar-foreground: oklch(0.13 0.028 261.692);

	--sidebar-primary: oklch(0.21 0.034 264.665);

	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);

	--sidebar-accent: oklch(0.967 0.003 264.542);

	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);

	--sidebar-border: oklch(0.928 0.006 264.531);

	--sidebar-ring: oklch(0.707 0.022 261.325);
}

html {
	scroll-behavior: smooth;
}

body {
	@apply text-white;
	@apply bg-gray-900;
	@apply min-h-screen;

	margin: 0 auto;
}

a,
button {
	@apply cursor-pointer;
}
a:disabled,
button:disabled {
	@apply cursor-not-allowed opacity-70;
}

/* Components */

@layer components {
	.safe-area-x {
		padding-left: calc(0.75rem + constant(safe-area-inset-left));
		padding-left: calc(0.75rem + env(safe-area-inset-left));
		padding-right: calc(0.75rem + constant(safe-area-inset-right));
		padding-right: calc(0.75rem + env(safe-area-inset-right));
	}

	.text-shadow-2 {
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	}

	.blur-5 {
		filter: blur(5px);
	}

	.bg-blur-10 {
		background-color: rgba(122, 122, 122, 0.66);
		@supports (
			(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
		) {
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			background-color: rgba(150, 150, 150, 0.33);
			opacity: 0.99;
		}
	}

	.glow {
		text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
	}

	.light:before {
		@apply pr-1 align-top text-3xl;
		content: "\2727";
	}
	.light-small:before {
		@apply pr-[0.125rem] align-top text-xl;
		content: "\2727";
	}

	.w-fit {
		width: fit-content;
	}

	.h-fit {
		height: fit-content;
	}

	.border-t-3 {
		border-top-width: 3px;
	}

	.leading-0 {
		line-height: 0;
	}

	.-z-1 {
		z-index: -1;
	}
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}
