:root {
	color-scheme: dark light;

	--headerHeight: 65px;
	@screen lg {
		--headerHeight: 65px;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply text-white;
	@apply bg-gray-900;
	@apply min-h-screen;

	margin: 0 auto;

	// padding-top: var(--headerHeight);
	// padding-top: calc(var(--headerHeight) + constant(safe-area-inset-top));
	// padding-top: calc(var(--headerHeight) + env(safe-area-inset-top));
}
