:root {
	color-scheme: dark light;

	--headerHeight: 5rem;
	@screen lg {
		--headerHeight: 6rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	@apply text-white;
	@apply bg-gray-900;
	@apply min-h-screen;

	padding-top: var(--headerHeight);
	padding-top: calc(var(--headerHeight) + constant(safe-area-inset-top));
	padding-top: calc(var(--headerHeight) + env(safe-area-inset-top));

	margin: 0 auto;
}
