@reference "../../styles/core.css";

.background {
	@apply fixed inset-0 box-content;
}

.backgroundBlob {
	@supports (-moz-appearance: none) {
		display: none;
	}
}

.bg {
	@apply fixed inset-0 box-content blur-[3px] brightness-[0.9] contrast-[0.9] saturate-[1.3] filter;
	background: url("/assets/bg/edge.webp");
	background-position: bottom center;
	background-size: cover;
}

.image {
	@apply fixed inset-0 box-content opacity-25 mix-blend-color;
	background: url("/assets/bg/BrightRainSmall.webp") repeat center center;
}
