@reference "../../styles/core.css";

.app {
	@apply relative min-h-screen;

	@apply flex flex-col;
	/* @apply bg-[#1d1235]; */
}

.app main {
	@apply w-full;
}

.background {
	/* background: radial-gradient(circle at 50% 70px, #393956 0%, #161627 100%); */
	@apply pointer-events-none fixed inset-0 box-content;
	background:
		radial-gradient(
			75% var(--size-bottom) at 50% 120%,
			#c4844899 0%,
			#39395600 100%
		),
		linear-gradient(to bottom left, #b1513966 0%, #39395600 var(--size-top)),
		linear-gradient(to bottom right, #b1513966 0%, #39395600 var(--size-top)),
		linear-gradient(to bottom, #393956 0%, #161627 100%);
	background-position: center top;
	background-repeat: no-repeat;
	content: "";
	line-height: normal;
	will-change: transform;
}
