.navlink {
	outline: none;

	&:after {
		@apply block border-t-2 border-gray-500;
		content: "";
		margin-top: -2px;
		will-change: width;
		width: 0%;
		animation: unload 350ms ease forwards;
	}

	@keyframes load {
		0% {
			width: 0%;
		}
		50% {
			width: 115%;
		}
		85% {
			width: 95%;
		}
		100% {
			width: 100%;
		}
	}

	&:hover {
		&:after {
			width: 100%;
			animation: load 350ms ease forwards;
		}
	}

	@keyframes unload {
		0% {
			width: 100%;
		}
		50% {
			width: 2%;
		}
		80% {
			width: 7%;
		}
		100% {
			width: 0%;
		}
	}
}
