.headerText {
	@apply font-NeueHGD;
	@apply text-4xl;
	@apply font-medium;
	@apply p-4;
	@apply pl-2;
	@apply my-4;
	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2;
		@apply border-gray-600;
	}
	&:before {
		width: 4rem;
		margin-bottom: 0;
	}
	&:after {
		width: 75%;
		margin-top: 1px;
	}
}

.bannerSection {
	@apply grid;
	@apply gap-8;
	@apply justify-items-center;
	@apply justify-center;
	@apply grid-cols-1;

	@screen sm {
		grid-template-columns: repeat(auto-fill, 520px);
	}

	grid-auto-rows: auto;

	/* grid-template-rows: masonry; /* TODO: Experimental feature now */
}
