.headerText {
	@apply font-NeueHGD
		text-4xl
		font-medium
		p-4
		pl-2
		my-4;

	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2
			border-gray-600;
	}
	&:before {
		margin-bottom: 0;
		width: 4rem;
	}
	&:after {
		margin-top: 1px;
		width: 75%;
	}
}

.bannerSection {
	@apply grid
		gap-8
		justify-items-center
		justify-center
		grid-cols-1;

	@screen sm {
		grid-template-columns: repeat(auto-fill, 520px);
	}

	grid-auto-rows: auto;

	/* grid-template-rows: masonry; /* TODO: Experimental feature now */
}
