.banner {
	@apply w-full cursor-default;
}

.container {
	@apply flex flex-col bg-banner;

	height: fit-content;

	@apply relative;

	&::after {
		border-color: rgba(113, 113, 122, 0);
		border-top-color: rgba(113, 113, 122, 1);
		content: "";
		@apply pointer-events-none absolute inset-0 block border transition-all duration-200 ease-out;
	}

	&:hover::after {
		@apply -inset-1.5 border border-gray-500;
	}
}

.header {
	@apply grid gap-1;
	align-items: stretch;
	// min-height: 122px;
	grid-template-columns: 56px 1fr auto 46px;
}

.headerText {
	@apply self-center py-4 pl-1 font-NeueHGD text-xl font-medium uppercase;

	width: fit-content;

	@media (min-width: 340px) {
		@apply text-2xl;
	}

	@media (min-width: 420px) {
		@apply text-3xl;
	}

	&:before,
	&:after {
		content: "";
		@apply block border-t-2 border-gray-700;
	}
	&:before {
		margin-bottom: -1px;
		width: 66%;
	}

	&:after {
		margin-top: -1px;
		will-change: width;
		width: 4em;
		animation: unload 350ms ease forwards;
	}

	@keyframes load {
		0% {
			width: 4em;
		}
		50% {
			width: 107%;
		}
		85% {
			width: 97%;
		}
		100% {
			width: 100%;
		}
	}

	&:hover {
		&:after {
			width: 100%;
			animation: load 350ms ease forwards;
		}
	}

	@keyframes unload {
		0% {
			width: 100%;
		}
		50% {
			width: 4em;
		}
		80% {
			width: calc(4em + 7%);
		}
		100% {
			width: 4em;
		}
	}
}

.toggle {
	@apply -ml-1 h-12 w-12;

	align-self: center;
	transform-origin: center center;
	will-change: rotate;
	& button {
		outline: none;
	}
}

.figure {
	@apply p-2;
	@screen sm {
		@apply p-4;
	}

	justify-content: stretch;

	// display: -webkit-box;
	// -webkit-line-clamp: 3;
	// -webkit-box-orient: vertical;
	// overflow: hidden;

	// max-height: 7rem;
	// overflow: hidden;
}

.button {
	@apply relative m-2 mt-4 block bg-button bg-opacity-50 p-2 text-center;

	&::after {
		border-color: #ffce1f;
		content: "";
		@apply pointer-events-none absolute inset-0 block border transition-all duration-200 ease-out;
	}

	&:hover::after {
		@apply -inset-1 border border-gray-500;
	}
}
