.headerText {
	@apply font-NeueHGD text-4xl font-medium p-4 pl-2 my-4;

	width: fit-content;

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2 border-gray-600;
	}
	&:before {
		margin-bottom: 1px;
		width: 4rem;
	}
	&:after {
		margin-top: 0;
		width: 75%;
	}
}

.bannerSection {
	@apply grid gap-8 justify-items-center justify-center grid-cols-1;

	@screen sm {
		grid-template-columns: repeat(auto-fill, 520px);
	}

	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	grid-auto-rows: max-content;
	min-height: 120px;
	min-width: 280px;

	/* grid-template-rows: masonry; /* TODO: Experimental feature now */

	&::after {
		content: "";
		grid-column-start: span 1;
		height: 2px;
		width: 100%;
	}
}

.placeholder {
	@apply w-full text-center text-lg flex justify-center items-center;
	height: 72px;
}
