.banner {
	@apply w-full;
}

.container {
	@apply flex;
	@apply flex-col;
	@apply bg-banner;
	height: fit-content;

	@apply relative;

	&::after {
		content: "";
		@apply block;
		@apply absolute;
		@apply inset-0;
		@apply pointer-events-none;

		@apply transition-all;
		@apply duration-200;

		@apply border;
		border-color: rgba(212, 212, 216, 0);
		border-top-color: rgba(212, 212, 216, 1);
	}

	&:hover::after {
		@apply border-gray-300;
		@apply border;
		@apply -inset-1.5;
	}
}

.header {
	@apply gap-2;
	@apply grid;
	min-height: 122px;
	grid-template-columns: 56px 1fr 48px;
	align-items: stretch;
}

.headerText {
	@apply font-NeueHGD;
	@apply text-xl;
	@apply font-medium;
	@apply uppercase;
	@apply p-4;
	@apply pl-2;
	@apply pr-0;
	@apply self-center;
	width: fit-content;

	@media (min-width: 340px) {
		@apply text-2xl;
	}

	@media (min-width: 420px) {
		@apply text-3xl;
	}

	@screen sm {
		@apply text-4xl;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		@apply border-t-2;
		@apply border-gray-700;
	}
	&:before {
		width: 66%;
		margin-bottom: 2px;
	}
	&:after {
		width: 4rem;
		margin-top: 4px;
	}
}

.toggle {
	@apply w-12;
	@apply h-12;
	will-change: rotate;
	transform-origin: center center;
	align-self: center;
	& button {
		outline: none;
	}
}

.figure {
	@apply p-2;
	@screen sm {
		@apply p-4;
	}

	justify-content: stretch;

	// display: -webkit-box;
	// -webkit-line-clamp: 3;
	// -webkit-box-orient: vertical;
	// overflow: hidden;

	// max-height: 7rem;
	// overflow: hidden;
}

.button {
	@apply bg-button;
	@apply block;
	@apply m-2;
	@apply mt-4;
	@apply p-2;
	@apply relative;
	@apply text-center;

	&::after {
		content: "";
		@apply block;
		@apply absolute;
		@apply inset-0;
		@apply pointer-events-none;

		@apply transition-all;
		@apply duration-200;

		@apply border;
		border-color: #ffce1f;
	}

	&:hover::after {
		@apply border-gray-300;
		@apply border;
		@apply -inset-1;
	}
}
